{
    "extends": "airbnb",
    "rules": {
        "no-lonely-if": "warn",
        "func-names": [
            "error",
            "never"
        ],
        "brace-style": [
            "error",
            "stroustrup"
        ],
        "object-curly-spacing": [
            "error",
            "never"
        ],
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "indent": "off",
        "max-len": [
            "warn",
            140
        ],
        "no-unused-vars": "warn",
        "import/prefer-default-export": "warn",
        "no-plusplus": "off",
        "space-in-parens": "off",
        "jsx-a11y/href-no-hash": "off",
        "quotes": 0,
        "import/no-extraneous-dependencies": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "quote-props": [
            "error",
            "always"
        ],
        "no-underscore-dangle": 0,
        "comma-dangle": [
            "error",
            "never"
        ],
        "linebreak-style": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "globals": {
        "define": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    }
}
