target
.idea/workspace.xml
.idea/excludeFromValidation
.idea/libraries
*.iml

db
local-data

# Maven:
.flattened-pom.xml
.effective-pom.xml
.dependency-tree.txt
.foreach-deps.txt
pom.xml.versionsBackup
versions.properties

# Emacs:
*~

spring-security-acl-module/src/main/resources/views/
